[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
psycopg2-binary = "*"
flask-cors = "*"
pytest = "*"
mock = "*"
pytest-testdox = "*"
pytest-ordering = "*"

[requires]
python_version = "3.8.2"

[scripts]
start="python src/app.py"
test="pytest --testdox --color=yes"
